
/* GLOBAL */
body{
margin: 0;
padding: 0;
font-family: "Rubik", "Arial", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
line-height: 22px;
background-color: #fff;
color: #4A4B4C;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container{
  width: 100%;
  max-width: 998px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */
.header-top{
  background-color: #f6f6f6;
}
.site-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
}
.site-logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.site-logo a img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-logo-img a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 6px;
  margin-right: 35px;
  background-color: #fff;
  border-radius: 7px;
}

.site-text a{
  text-decoration: none;
}
.site-money{
  display: flex;
}
.money{
  margin-right: 25px;
}
.dollar{
  color: #2959CE;
  font-weight: bold;
}
.site-buttons{
  display: flex;
  align-items: center;
}
.button{
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 60px;
  border: none;
  width: 275px;
  height: 45px;
  background-color: #fff;
  color: #8D8D8D;;
}
.img-icon{
  margin-left: 15px;
  margin-right: 5px;
}

.site-lang{
  display: flex;
  justify-content: center;
  margin: 0px 25px;
  align-items: center;
  width: 70px;
  height: 36px;
  background-color: #DCE6FF;
  border-radius: 39px;
}
.lang-uz{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  margin-left: -2px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.lang-ru{
  margin-left: 5px;
}

.site-register .site-button{
  background-color: #7296EC;
  color: #fff;
  text-decoration: none;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  line-height: 19px;
}

/* SITENAVIGATION' */
.sitenav{
  padding-top: 30px;
  padding-bottom: 20px;
}

.sitenav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav-item a{
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7F7F7F;
  text-decoration: none;
}

.site-header-img{
  margin-top: 40px;
  margin-bottom: 50px;
}

/* HERO */
.site-hero-news{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.site-link{
  text-decoration: none;
  color: #4A4B4C;
  width: 360px;
  background-color: #F6F6F6;
  height: 382px;
  margin-top: 10px;
  padding: 20px 17px 15px;
  border-radius: 15px;
}

.site-hero-heading {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0px;
  align-items: center;
}

.hero-threen{
  margin-right: 10px;
}

.hero-six{
  margin-right: 18px;
}
.site-hero-img{
  margin-top: 15px;
  width: 360px;
  height: 165px;
}

.site-hero-link{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
}

.site-hero-link img{
  width: 20px;
  height: 20px;
}

.site-hero-link-text{
  color: #5E5F61;
  font-size: 12px;
  line-height: 15px;
  margin-left: 10px;
}

.site-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  width: 1050px;
  border-radius: 10px;
  background-color: #f8c9a3;
  padding: 25px 72px 25px 30px;

}
.site-banner-text {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.site-banner-button {
  border: none;
  background-color: #f78b3b;
  padding: 13px 30px;
  border-radius: 10px;
  color: #fff;
}


.world {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
  padding-bottom: 20px;
}

.world-news {
  display: flex;
  justify-content: space-between;
}

.news-left {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.new-left {
  display: flex;
  list-style-type: none;
  background-color: #f6f6f6;
  width: 797px;
  padding: 20px 20px 20px 0px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.new-left-img {
  width: 210px;
  height: 165px;
  border-radius: 10px;
  padding: 0px 15px 0px 17px;
}

.new-left-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  margin-bottom: 10px;
}
.new-left-text {
  margin-bottom: 17px;
}
.addres{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.new-left-link-img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.new-left-time {
  font-size: 12px;
  line-height: 14px;
}
.new-button {
  display: flex;
  background-color: #eaeaea;
  border-radius: 10px;
  padding: 17px 343px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.news-right {
  margin-left: 10px;
}

.new-right {
  background-color: #f6f6f6;
  padding: 20px 17px 5px 17px;
  border-radius: 15px;
  height: 502px;
}
.basic {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 5px;
  margin-top: 0;
}

.news-right-link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 8px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  font-size: 18px;
  line-height: 24px;
}
.new-right-time {
  display: inline-block;
  color: #5E5F61;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 20px;

}
hr{
  margin: 0;
  border: 1px solid #d2d2d2;
  height: 0;
}
.news-right-img{
  display: block;
  width: 393px;
  height: 338px;
  border-radius: 15px;
  margin-top: 10px;
}


/* FOOTER */

.site-footer{
  background-color: #7297EF;
  padding: 40px;
}

.site-footer-basket{
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #cecece;
}

.site-footer-logo {
}
.footer-logo {
  margin-top: 0;
  margin-bottom: 15px;
}
.site-footer-logo-comment {
  width: 229px;
  height: 95px;
  font-size: 12px;
  line-height: 19px;
  margin-top: 0;
  color: #fff;
}
.site-footer-nav {
  display: flex;
}
.site-footer-items {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
}

.site-footer-item {
  list-style-type: none;
  margin-top: 0;
}

.site-footer-item:not(:last-child){
  margin-bottom: 20px;
}
.site-footer-link {
  text-decoration: none;
  color: #fff;
}
.site-footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-heading {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #fff;
}
.footer-social-logos {
  margin-top: ;
}
.footer-social-logo {
  width: 25px;
  height: 25px;
}
.footer-social-logo:not(:last-child){
  margin-right: 25px;
}
